<!DOCTYPE html>

<%- include('head'); %>

    <body>
        <div class="container">
            <%- include('nav'); %>

                <h1>Blog sobre EJS</h1>
                <%- include('posts'); %>
                    <%- include('footer'); %>

        </div>
    </body>

    </html>