<header class="card">
    <h2>EJS - Study</h2>
    <p>EJS é uma linguagem de template para Node.js</p>
    <a href="https://github.com/nodejs/node" target="_blank">Repositório do Node.js no GitHub</a>
</header>