<div class="header">
    <nav class="navbar">
        <label for="navbar-toggle" class="navbar-toggle-label">
            <span></span>
            <span></span>
            <span></span>
        </label>
        <ul class="navbar-menu">
            <li><a href="/">Início</a></li>
            <li><a href="/about">Sobre</a></li>
        </ul>
    </nav>
</div>